﻿@page
@model XSkills.Web.Pages.Account.ConfirmEmailModel
<div id="xskills">
    <section class="section has-text-centered">
        <div class="is-fullheight vertical-center">
            @if (!Model.Errors.Any())
            {
                <h1 class="title">Email confirmed</h1>
                <p>You can now <a href="/Account/LogIn">log in</a>.</p>
            }
            else
            {
                @foreach(var error in Model.Errors)
                {
                    <div class="notification is-danger">@error</div>
                }
            }
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>