﻿@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model XSkills.Web.Pages.Account.EditModel
@{ 
    int userId = int.Parse(User.Claims.Single(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
}
<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span>Back</span>
                                </a>
                            </p>
                            @if (Model.ShowAdminPanel)
                            {
                                <p class="control">
                                    <a href="/Account/Admin" class="button is-white is-outlined">
                                        <span class="icon">
                                            <i class="fa fa-cogs"></i>
                                        </span>
                                        <span>Admin panel</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a href="/Projects" class="button is-white is-outlined">
                                        <span class="icon">
                                            <i class="fa fa-industry"></i>
                                        </span>
                                        <span>Projects</span>
                                    </a>
                                </p>
                            }
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section is-fullheight">
        <div class="container is-fullheight scroll-content">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <div class="level">
                        <h1 class="title">Profile management</h1>
                    </div>
                </div>
                <div class="column is-4">
                    <h2 class="subtitle">Change name</h2>
                    <form method="post" asp-page-handler="name">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-white is-outlined login-tag">First name</a>
                            </p>
                            <div class="control is-fullwidth">
                                <input class="input" type="text" asp-for="NameForm.FirstName" value="@Model.NameForm.FirstName">
                            </div>
                        </div>
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-white is-outlined login-tag">Last name</a>
                            </p>
                            <div class="control is-fullwidth">
                                <input class="input" type="text" asp-for="NameForm.LastName" value="@Model.NameForm.LastName">
                            </div>
                        </div>
                        @foreach (var error in Model.NameForm.Errors)
                        {
                            <div class="notification is-danger">@error</div>
                        }
                        @if (Model.NameForm.IsSuccess)
                        {
                            <div class="notification is-success">Your name has been changed.</div>
                        }
                        <input type="submit" class="button is-fullwidth is-white is-outlined" value="Change name" />
                    </form>
                    <h2 class="subtitle" style="margin-top: 20px;">Change email</h2>
                    <form method="post" asp-page-handler="email">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-white is-outlined login-tag">Email</a>
                            </p>
                            <div class="control is-fullwidth">
                                <input class="input" type="text" asp-for="EmailForm.Email" value="@Model.EmailForm.Email">
                            </div>
                        </div>
                        @foreach (var error in Model.EmailForm.Errors)
                        {
                            <div class="notification is-danger">@error</div>
                        }
                        @if (Model.EmailForm.IsSuccess)
                        {
                            <div class="notification is-success">Your email has been changed.</div>
                        }
                        <input type="submit" class="button is-fullwidth is-white is-outlined" value="Change email" />
                        @if (!Model.EmailForm.Errors.Any())
                        {
                            <p>You'll need to log in again on success.</p>
                        }
                    </form>
                </div>
                <div class="column is-4">
                    <h2 class="subtitle">Change password</h2>
                    <form method="post" asp-page-handler="password">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-white is-outlined login-tag">Password</a>
                            </p>
                            <div class="control is-fullwidth">
                                <input class="input" type="password" asp-for="PasswordForm.OldPassword">
                            </div>
                        </div>
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-white is-outlined login-tag">New password</a>
                            </p>
                            <div class="control is-fullwidth">
                                <input class="input" type="password" asp-for="PasswordForm.NewPassword">
                            </div>
                        </div>
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-white is-outlined login-tag">...and again</a>
                            </p>
                            <div class="control is-fullwidth">
                                <input class="input" type="password" asp-for="PasswordForm.RepeatPassword">
                            </div>
                        </div>
                        @foreach (var error in Model.PasswordForm.Errors)
                        {
                            <div class="notification is-danger">@error</div>
                        }
                        @if (Model.PasswordForm.IsSuccess)
                        {
                            <div class="notification is-success">Your password has been changed.</div>
                        }
                        <input type="submit" class="button is-fullwidth is-white is-outlined" value="Change password" />
                    </form>
                    <h2 class="subtitle" style="margin-top: 15px;">Change avatar</h2>
                    <form method="post" enctype="multipart/form-data" asp-page-handler="avatar">
                        <div class="field">
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="avatar">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        @foreach (var error in Model.AvatarErrors)
                        {
                            <div class="notification is-danger">@error</div>
                        }
                        <input type="submit" class="button is-fullwidth is-white is-outlined" value="Change avatar" />
                        <p>Max 1MB in size. Image will be scaled to 128x128.</p>
                    </form>
                    <img style="margin-top: 15px;" src="@($"data:image/png;base64,{Model.Avatar}")"/>
                </div>
                <div class="column is-4">
                    <h2 class="subtitle">Manage assignments</h2>
                    @if(Model.Projects.Any(x => !x.UserToProjects.Any(y => y.UserId == userId)))
                    {
                        <form method="post" asp-page-handler="JoinProject">
                            <div class="field">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select asp-for="SelectedProjectId">
                                            @foreach (var project in Model.Projects.Where(x => !x.UserToProjects.Any(y => y.UserId == userId)))
                                            {
                                                <option value="@project.Id">@project.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <p class="control is-fullwidth">
                                    <button type="submit" class="button is-white is-outlined is-fullwidth">Join project</button>
                                </p>
                            </div>
                        </form>
                    }

                    @foreach(var project in Model.Projects.Where(x => x.UserToProjects.Any(y => y.UserId == userId)))
                    {
                        <div class="box level is-mobile">
                            <span>@project.Name</span>
                            <div class="field">
                                <p class="control">
                                    <form method="post" asp-page-handler="LeaveProject">
                                        <input type="hidden" asp-for="SelectedProjectId" value="@project.Id"/>
                                        <button type="submit" class="button is-white is-outlined">
                                            <span class="icon"><i class="fa fa-trash"></i></span>
                                        </button>
                                    </form>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <div class="column is-6">
                    <form asp-page-handler="Description" method="post">
                        <div class="field">
                            <div class="control is-fullwidth">
                                <h2 class="subtitle" style="margin-top: 20px;">Your profile</h2>
                                <label asp-for="Description" class="label">Tell us something about yourselves!</label>
                                <textarea asp-for="Description" v-model="description" class="textarea" rows="10"></textarea>
                            </div>
                        </div>
                        <p>Supports <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.</p>
                        <button type="submit" class="button is-white is-outlined">Update profile</button>
                    </form>
                </div>
                <div class="column is-6">
                    <div v-html="markdown" class="content"></div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
<script type="text/javascript" src="~/js/marked.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#xskills',
        data: {
            description: `@Html.Raw(Model.Description?.Replace("'", "\\'").Replace("`", "\\`"))`
        },
        computed: {
            markdown: function () {
                return marked(this.description, { sanitize: true });
            }
        }
    });
</script>