﻿@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model XSkills.Web.Pages.Account.SignUpModel
<div id="xskills">
    <section class="section">
        <div class="container is-fullheight">
            <div class="columns is-centered is-fullheight">
                <div class="column is-6 is-fullheight vertical-center">
                    <div>
                        <h1 class="title">XSkills - sign up</h1>
                        <form method="post">
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">First name</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="text" asp-for="Form.FirstName" value="@Model.Form.FirstName">
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Last name</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="text" asp-for="Form.LastName" value="@Model.Form.LastName">
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Email</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="text" asp-for="Form.Email" value="@Model.Form.Email">
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Password</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="password" asp-for="Form.Password">
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">...and again</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="password" asp-for="Form.ConfirmPassword">
                                </div>
                            </div>
                            @foreach(var error in Model.Form.Errors)
                            {
                                <div class="notification is-danger">@error</div>
                            }
                            @if (Model.Form.IsSuccess)
                            {
                                <div class="notification is-success">Your account has been created. Please check your mail for an activation link.</div>
                            }
                            <input type="submit" class="button is-white is-outlined is-fullwidth" value="Sign up" />
                        </form>
                        <p>
                            Already have an account? <a href="/Account/LogIn">Log in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>