﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>XSkills</title>
    @if (!IsSectionDefined("styleOverride"))
    {
        <link rel="stylesheet" href="~/css/bulmaswatch.min.css" />
    }
    else
    {
        @RenderSection("styleOverride", required: false)
    }
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("headAddons", required: false)
    <script type="text/javascript" src="~/js/vue.js"></script>
</head>
<body>
    @RenderBody()
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
</body>
</html>