﻿@page "{id}"
@model XSkills.Web.Pages.ProjectModel

<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section profile is-fullheight">
        <div class="container is-fullheight scroll-content">
            <h1 class="title">@Model.Project.Name</h1>
            <div id="project-markdown" class="content"></div>
            @if(Model.Project.UserToProjects.Any())
            {
                <h2 class="subtitle">Members</h2>
            }

            @if(Model.Project.UserToProjects.Any())
            {
                <div class="columns is-multiline">
                    @foreach(var user in Model.Project.UserToProjects)
                    {
                        <div class="column is-6" v-for="emp in employees" v-on:click="selectEmployee(emp.id)">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="@($"data:image/png;base64,{user.User.Avatar}")" alt="Image" />
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>@user.User.FirstName @user.User.LastName</strong>
                                                <br /><small>@user.User.Email</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    }
                </div>
            }

            @if(Model.Project.TagToProjects.Any())
            {
                <h2 class="subtitle">Tags</h2>
            }
            <div class="tags">
                @foreach(var tag in Model.Project.TagToProjects)
                {
                    <span class="tag is-medium">@tag.Tag.Name</span>
                }
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
<script type="text/javascript" src="~/js/marked.min.js"></script>
<script>
    var md = document.getElementById("project-markdown");
    md.innerHTML = marked(`@Html.Raw(Model.Project?.Description?.Replace("'", "\\'").Replace("`", "\\`"))`, { sanitize: true });
</script>