﻿@model ValueTuple<XSkills.Web.Models.XSkillsUser, bool>
@{ 
    var user = Model.Item1;
    bool isUserReport = Model.Item2;
}
<section class="section @(isUserReport ? string.Empty : "is-fullheight  profile")">
    <div class="container @(isUserReport ? string.Empty : "is-fullheight scroll-content")">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="@($"data:image/png;base64,{user.Avatar}")" alt="Image" />
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <h1 class="title">@user.FirstName @user.LastName</h1>
                    </div>
                </div>
            </article>
        </div>
        <div id="profile-markdown-@user.Id" class="content"></div>
        <h2 class="subtitle">Skills</h2>
        @foreach (var group in user.Employee.Skills.GroupBy(x => x.Skill.SkillGroup.Name))
        {
            <h3 class="subtitle is-6">@group.Key</h3>
            <div class="columns is-multiline">
                @foreach (var skill in group)
                {
                    <div class="column is-4">
                        <div class="box">
                            <div class="level is-mobile">
                                <div>
                                    <span class="icon">
                                        <i class="fa fa-thermometer-@skill.Skill.Relevance"></i>
                                    </span>
                                    <span>@skill.Skill.Name</span>
                                </div>
                            </div>
                            <div class="tags">
                                <span class="tag">Experience: @skill.YearsOfExperience @(skill.YearsOfExperience > 1 ? "years" : "year")</span>
                                <span class="tag">Proficiency: @skill.ProficiencyLevel</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
<script>
    var md = document.getElementById("profile-markdown-@user.Id");
    md.innerHTML = marked(`@Html.Raw(user.Description?.Replace("'", "\\'").Replace("`", "\\`"))`, { sanitize: true });
</script>